<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   <!-- 
    <h1>hello, world</h1>
    
    <p>No really this works</p>
    <img src="https://cdn.shopify.com/s/files/1/1061/1924/products/Thumbs_Up_Hand_Sign_Emoji_large.png?v=1480481047">
    -->
    <!--action is to let the form send the search to a different page in this case a page called search-->
    <form mothod="GET" action="/search">
        <h1>Google 2.0</h1>
        <input type="text" name="query"/>
        <input type="submit"/>
    </form>
    
</body>
</html>